#main-contain {
    
}

.row {
    display: flex;
    flex-direction: row;   
}


.item {
    border: solid;
    border-color: black;
    border-width: 2px;
    flex-basis: 100%;
    aspect-ratio: 1;
    
}

body {
    display: flex;
    flex-direction: column;
}

button {
    background-color: azure;
    margin: 25px;
    padding: 10px;
    border: solid 2px;
    border-radius: 5px;
}